# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://iili.io/dmKqfTP.jpg"
port = 5000
email = "sam@secktor.live"
global_url = "instagram.com"
OWNER_NAME = "𝙻𝙾𝚄𝙺𝚂𝙾𝙽 𝚄𝚉𝚄𝙼𝙰𝙺𝙸"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 225
READ_MESSAGE = false
PREFIX = .
SESSION_ID = PRABATH-MD~Jdo0BbiS#KnSuHgVSea489wqeZcp6TC-s6TYi9V-sgA6ht97ByGc
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SECKTOR
WORKTYPE = public
PACK_INFO = "𝙻𝙾𝚄𝙺𝚂𝙾𝙽 𝚄𝚉𝚄𝙼𝙰𝙺𝙸;𝙻𝙾𝚄𝙺𝚂𝙾𝙽 𝚄𝚉𝚄𝙼𝙰𝙺𝙸"
ANTILINK_VALUES = "chat.whatsapp.com"
